<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    {{#each sale}}
     <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
         <div id="spot-card-{{index}}" class="card text-white bg-primary sh-3 mb-3 align-items-stretch" style="width: 100%;">
            <div class="card-body">
             <h4 class="card-title lead text-center">{{name}} &middot; {{full-price amount}}</h4>
             <hr>
             <div class="" style="min-height: 5rem;">
               <form id="spot-form-{{index}}">
                 <div class="form-group">
                   <label class="small text-light" for="spot-form-{{index}}-title">Spot Title</label>
                   <input type="text" class="form-control" id="spot-form-{{index}}-title" value="{{title}}" placeholder="">
                 </div>
                 <div class="form-group">
                   <label class="small text-light" for="spot-form-{{index}}-image">Image URL</label>
                   <input type="text" class="form-control" id="spot-form-{{index}}-image" value="{{image}}" placeholder="">
                 </div>
                 <div class="form-group">
                   <label class="small text-light" for="spot-form-{{index}}-text">Text</label>
                   <textarea class="form-control" id="spot-form-{{index}}-text" rows="3">{{text}}</textarea>
                 </div>
                 <div class="form-group">
                   <label class="small text-light" for="spot-form-{{index}}-url">Link URL</label>
                   <input type="text" class="form-control" id="spot-form-{{index}}-url" value="{{url}}" placeholder="">
                 </div>
               </form>
             </div>

             {{#if amount}}

               <div class="text-right">
                 <button
                 data-card="spot-card-{{index}}"
                 data-form="spot-form-{{index}}"
                 data-amount="{{amount}}"
                 data-title="{{title}}"
                 data-name="{{name}}"
                 data-description="{{name}} Purchase"
                 class="btn btn-stripe btn-light">{{price amount}} {{label}}</button>
               </div>

             {{else}}

               <div class="text-right">
                 <button
                 data-card="spot-card-{{index}}"
                 data-form="spot-form-{{index}}"
                 data-amount="{{amount}}"
                 data-title="{{title}}"
                 data-name="{{name}}"
                 data-description="{{name}} Free"
                 class="btn btn-free btn-dark">{{price amount}} {{label}}</button>
               </div>

             {{/if}}

            </div>
        </div>
     </div>
   {{/each}}
  </div>
</div> <!-- /container -->
